<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<!--Inicio Formulario de Solicitante-->
<div class="container mt-3">
    <form th:action="@{/persona/registrar}" th:object="${persona}" method="post">
        <div class="card-header">
            <h4 class="card-title" th:text="${titulo}"></h4>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-form-label mr-3">DNI / RUC:</label>
                <input class="col-sm-8 form-control" type="text"
                       th:field="*{dniRuc}"
                       th:errorclass="'form-control alert-danger'"/>
                       <!--th:readonly="${persona.dniRuc != null && not #strings.isEmpty(persona.dniRuc) && #strings.length(persona.dniRuc)}"-->

                <small class="form-text text-danger" th:if="${#fields.hasErrors('dniRuc')}"
                       th:errors="*{dniRuc}"></small>
            </div>
            <div class="form-group row">
                <label class="col-form-label mr-3">Cod. Estudiante:</label>
                <input class="col-sm-8 form-control" type="text"
                       th:field="*{codEstudiante}">
            </div>
            <div class="form-group row">
                <label class="col-form-label mr-3">Nombre:</label>
                <input class="col-sm-8 form-control" type="text"
                       th:field="*{nombre}" th:errorclass="'form-control alert-danger'">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                       th:errors="*{nombre}"></small>
            </div>
            <div class="form-group row">
                <label class="col-form-label mr-3">Email:</label>
                <input class="col-sm-8 form-control" type="text"
                       th:field="*{email}" th:errorclass="'form-control alert-danger'">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
            </div>

            <div class="form-group row">
                <label class="col-form-label mr-3">Cargo:</label>
                <select th:field="*{puesto}">
                    <option th:each="puesto : ${puestos}"
                            th:value="${puesto.id}"
                            th:text="${puesto.nombre}"
                            th:selected="${puesto.nombre == persona.puesto && persona.puesto != null}"
                    ></option>
                </select>
            </div>

            <input class="btn btn-primary" type="submit" value="Registrar">
        </div>
    </form>
</div>
<!--Fin Formulario de Solicitante-->

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>