<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Registrar solicitud</h4>
    </div>
    <div class="card-body">
        <form th:action="@{/archivo/registrar}" th:object="${archivo}" method="post"
              enctype="multipart/form-data">
            <div class="form-group row">
                <label class="col-form-label">Tipo:</label>
                <select name="idTipoArchivo">
                    <option th:each="tipoArchivo: ${tipoArchivos}"
                            th:value="${tipoArchivo.id}"
                            th:text="${tipoArchivo.nombre}"
                            th:selected="${archivo.tipoArchivo != null and archivo.tipoArchivo == tipoArchivo}"></option>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-form-label">Descripcion:</label>
                <textarea class="form-control" rows="4"
                          th:field="*{descripcion}"></textarea>
            </div>
            <div class="form-group row">
                <label class="col-form-label">Archivo:</label>
                <input class="form-control-file" type="file" accept=".pdf" name="file"/>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Registrar"/>
            </div>
        </form>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>