<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container">



    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Listado de Solicitudes</h5>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="form-group row">
                            <label for="dniRunc">DNI/RUC:</label>
                            <input class="form-control col-sm-2 mx-3" id="dniRunc" type="text"/>
                            <label class="col-form-label mx-3" for="nombre">Nombre</label>
                            <input class="form-control col-sm-4" id="nombre" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="codEstudiante">Cod. Estudiante</label>
                    <input class="form-control col-sm-3 mx-3" id="codEstudiante" type="text"/>
                </div>
                <div class="alert alert-info my-4" th:if="${#lists.isEmpty(solicitudes)}"
                     th:text="'No hay solicitudes registradas'"></div>
                <table class="table table-striped table-hover" th:if="${not #lists.isEmpty(solicitudes)}">
                    <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Solicitante</th>
                        <th>Destinatario</th>
                        <th>Cargo</th>
                        <th>Estado</th>
                        <th>Abrir</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="solicitud, index : ${solicitudes}">
                        <td th:text="${solicitud.tipoSolicitud}"></td>
                        <td th:text="${solicitud.solicitante}"></td>
                        <td th:text="${solicitud.destinatario}"></td>
                        <td th:text="${solicitud.destinatario.puesto}"></td>
                        <td th:text="${ultimosEstados.get(index.index)}"></td>
                        <td><a class="btn btn-primary" href="">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder2-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
                            </svg>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>