<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container">
    <div class="card my-3">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <!--Formulario de solicitud-->
            <!--Inicio de listado de tipo solicitudes-->
            <div class="form-group row">
                <div class="col-7">
                    <label>Tipo de solicitud</label>
                </div>
                <div class="col-5">
                    <select class="custom-select">
                        <option th:each="tipoSolicitud : ${tipoSolicitudes}" th:value="${tipoSolicitud.id}"
                                th:text="${tipoSolicitud.nombre}"></option>
                    </select>
                </div>
            </div>

            <!--Fin de listado de tipo solicitudes-->
            <!--Inicio de descripcion solicitud-->
            <div class="container">
                <div class="form-group">
                    <label>Descripcion:</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
            <!--Fin de descripcion solicitud-->

            <!--Inicio para llenado de solicitante y destinatario-->
            <div class="container">
                <div class="row">
                    <!--Inicio de llenado solicitante-->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header" th:text="'Solicitante'"></div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-form-label mr-3">DNI / RUC:</label>
                                    <input class="col-sm-8 form-control" id="dniRucSolicitante" type="text"
                                           name="dniRuc">
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label mr-3">Cod. Estudiante:</label>
                                    <input class="col-sm-8 form-control" id="codSolicitante" type="text"
                                           name="codEstudiante" disabled>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label mr-3">Nombre:</label>
                                    <input class="col-sm-8 form-control" id="nombreSolicitante" type="text"
                                           name="nombre"
                                           disabled>

                                </div>

                                <div class="form-group row">
                                    <label class="col-form-label mr-3">Email:</label>
                                    <input class="col-sm-8 form-control" id="emailSolicitante" type="email"
                                           name="email"
                                           disabled>
                                </div>

                                <div class="form-group row">
                                    <label class="col-form-label mr-3">Puesto:</label>
                                    <input class="col-sm-8 form-control" id="puestoSolicitante" type="text"
                                           name="cargo"
                                           disabled>
                                </div>

                                <a class="btn btn-primary" th:href="@{/persona/registrar}"
                                   th:text="'Registrar Nuevo Solicitante'"></a>

                            </div>
                        </div>
                    </div>
                    <!--Fin de llenado solicitante-->
                    <!--Inicio llenado de destinatario-->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header" th:text="'Destinatario'"></div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-form-label mr-3">DNI:</label>
                                    <input class="col-sm-8 form-control" id="dniDestinatario" type="text"
                                           name="dniRuc" disabled>
                                </div>

                                <div class="form-group row">
                                    <label class="col-form-label mr-3">Nombre:</label>
                                    <input class="col-sm-8 form-control" id="nombreDestinatario" type="text"
                                           name="nombre">
                                </div>

                                <div class="form-group row">
                                    <label class="col-form-label mr-3">Email:</label>
                                    <input class="col-sm-8 form-control" id="emailDestinatario" type="email"
                                           name="email"
                                           disabled>
                                </div>

                                <div class="form-group row">
                                    <label class="col-form-label mr-3">Puesto:</label>
                                    <input class="col-sm-8 form-control" id="puestoDestinatario" type="text"
                                           name="cargo"
                                           disabled>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Fin de llenado destinatario-->
                </div>
                <!--Fin para llenado de solicitante y destinatario-->

                <!-- Inicio llenado de Archivos -->
                <div class="card my-3">
                    <div class="card-body">
                        <h4 class="card-title" th:text="'Archivos'"></h4>
                        <div class="row">
                            <table class="table table-striped table-hover" id="tablaVoucher">
                                <thead>
                                <tr>
                                    <td>Tipo</td>
                                    <td>Archivo</td>
                                    <td>Descripcion</td>
                                    <td>Abrir</td>
                                    <td>Actualizar</td>
                                    <td>Eliminar</td>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#registrarArchivo">+
                            </button>
                        </div>
                    </div>
                </div>
                <!--Inicio Ventana modal para registrar archivo-->
                <div class="modal fade" id="registrarArchivo">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Formulario Archivo</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/archivo/registrar}" th:object="${archivo}" method="post"
                                      enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label class="col-form-label">Tipo:</label>
                                        <select name="idTipoArchivo">
                                            <option th:each="tipoArchivo: ${tipoArchivos}"
                                                    th:value="${tipoArchivo.id}"
                                                    th:text="${tipoArchivo.nombre}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label">Descripcion:</label>
                                        <textarea class="form-control" rows="4"
                                                  th:field="*{descripcion}"></textarea>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label">Archivo:</label>
                                        <input class="form-control-file" type="file" name="file"/>
                                    </div>
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="submit"/>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!--FIN Ventana modal para registrar archivo-->
                <!-- FIN llenado de Archivos -->

                <!-- INICIO llenado de Vouchers -->
                <div class="card my-3">
                    <div class="card-body">
                        <h4 class="card-title" th:text="'Vouchers'"></h4>
                        <div class="row">
                            <table class="table table-striped table-hover" id="tablaArchivo">
                                <thead>
                                <tr>
                                    <td>Conceptio</td>
                                    <td>Secuencia</td>
                                    <td>Fecha</td>
                                    <td>Agencia</td>
                                    <td>Monto</td>
                                    <td>Archivo</td>
                                    <td>Abrir</td>
                                    <td>Actualizar</td>
                                    <td>Eliminar</td>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#registrarVoucher">+
                            </button>
                        </div>
                    </div>
                </div>
                <!--Inicio Ventana modal para registrar vouchers-->
                <div class="modal fade" id="registrarVoucher">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Formulario Voucher</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/voucher/registrar}" th:object="${voucher}"
                                      method="post"
                                      enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-6">Codigo
                                            concepto:</label>
                                        <input class="form-control col-sm-6" type="text"
                                               th:field="*{concepto}"/>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-6">Num
                                            Secuencia:</label>
                                        <input class="form-control col-sm-6" type="text"
                                               th:field="*{numSecuencia}"/>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-6">Fecha:</label>
                                        <input class="form-control col-sm-6" type="date"
                                               name="fecha"/>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-6">Codigo
                                            agencia:</label>
                                        <input class="form-control col-sm-6" type="text"
                                               th:field="*{codAgencia}"/>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-6">Monto:</label>
                                        <input class="form-control col-sm-6" type="number"
                                               th:field="*{monto}"/>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-sm-6">Archivo:</label>
                                        <input class="form-control-file col-sm-6" type="file"
                                               name="file"/>
                                    </div>

                                    <div class="form-group">
                                        <input class="btn btn-primary" type="submit" value="Registrar Voucher"/>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!--FIN Ventana modal para registrar vouchers-->
            </div>
        </div>
    </div>

</div>

<footer th:replace="layout/layout :: footer"></footer>
<script th:replace="solicitud/js/autocomplete-solicitante :: javascript"></script>
<script th:replace="solicitud/js/autocomplete-destinatario :: javascript"></script>
</body>
</html>